.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100% 3em;
    background-color: bisque;

}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(75, 66, 235);
    color: aliceblue;
    flex-basis: 100%;
}
.encabezado {
    display: flex;
    color: aliceblue;
    flex-basis: 100% 3em;
    background-color: cornflowerblue;
    text-align: center;
    justify-content:space-around;
    padding: 10px;
}
p{
    background-color: aliceblue;
    color: black;
    width: 11em;
}
select{
    background-color: aliceblue;
    color: black;
    width: 13em;
}
button{
    background-color: cadetblue;
    color: azure;
    padding: 1em;
    border-radius: 5px;
    margin: 1em;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: darkgoldenrod;
}
@media(max-width:900px){
    .flex-container{
        flex-basis: 100%;
    }
    .encabezado{
        flex-basis: 100%;
    }
    footer{
        flex-basis: 100%;
    }

}